<div class="row">
    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a ng-click="gotoPage('/dashboard')">{{project_name}}</a></li>
            <li><span>Bugs</span></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="half" style="overflow:auto;">
        <div class="quick-form">
            <div class="row"><div class="quarter"><label>Title</label></div><div class="threequarter"><input type="text" ng-model="bug.title"/></div></div>
            <div class="row"><div class="quarter"><label>Priority</label></div><div class="threequarter"><select ng-model="bug.priority" ng-options="o for o in config.bugs.priorities"></select></div></div>
            <div class="row"><div class="quarter"><label>Status</label></div><div class="threequarter"><select ng-model="bug.status" ng-options="o for o in config.bugs.statuses"></select></div></div>
            <div class="row"><div class="quarter"><label>Owner</label></div><div class="threequarter"><select ng-model="bug.owner" ng-options="o.name for o in appconfig.project_members"></select></div></div>
            <div class="row"><div class="quarter"><label>Details</label></div><div class="threequarter"><textarea ng-model="bug.details"></textarea></div></div>
            <div class="row"><div class="quarter"><a ng-click="save()" class="btn btn-small btn-round">Save</a></div></div>
        </div>
        <ul class="attachments" style="margin-top:0;">
            <li ng-repeat="c in attachments"><span ng-show="c.filename">{{c.filename}}</span><span ng-show="c.screenshot" ng-click="showScreenshot(c.screenshot)"><img src="{{c.screenshot}}" /></span></li>
        </ul>
    </div>

    <div class="half" style="overflow:auto;">
        <ul class="comments" style="margin-top:0;">
            <li><button ng-click="addComment()">Save</button><textarea ng-model="comment.details" rows="10"></textarea></li>
            <li ng-repeat="c in comments"><span>{{c.user.name}} {{c.created_at | date:short}}</span> {{c.details}}</li>
        </ul>
    </div>
</div>
<div class="chat-overlay" ng-show="showScreenshotPreview"></div>
<div class="imagePreview" ng-show="showScreenshotPreview">
    <div class="close" ng-click="showScreenshotPreview=false;" style="margin-right: 20% !important;"></div>
    <div id="screenshot-preview"></div>
</div>
