extends ../layout

block content
    h1= title
    a(onclick="addStory()", class="add_link")!="Add"
    .lane
        .heading="All"
        - each story in stories
          div.story
            div.title 
                a(href="/story/"+story._id)!= story.title
            div.text= story.body
    #newStory
        form(action="/stories/create", method="POST", class="forms columnar")
            fieldset
                ul
                    li
                        input(type="text", name="title", class="width-100")
                    li
                        textarea(name="body", class="width-100")
                    li
                        input(type="submit", class="btn")
    #fade
