<div class="row">
    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a ng-click="gotoPage('/projects/edit')">{{project_name}}</a></li>
            <li><span>Backlog</span></li>
        </ul>
    </div>
</div>
<div class="row">
    <ul>
        <li ng-repeat="epic in epics"><a ng-click="getStories(epic.id)">+</a> {{epic.title}}
            <table ng-show="stories[epic.id]">
                <tr><th>Sprint</th><th>Name</th><th>Owner</th><th>Points</th><th>Status</th></tr>
                <tr ng-repeat="story in stories[epic.id]"><td>{{story.sprint.title}}</td><td>{{story.title}}</td><td>{{story.user.name}}</td><td>{{story.points}}</td><td>{{story.status}}</td></tr>
            </table>
        </li>
    </ul>
</div>
