<div class="row">
    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a ng-click="gotoPage('/projects/edit')">{{project_name}}</a></li>
            <li><span>Backlog</span></li>
        </ul>
    </div>
</div>
<div class="row backlog">
    <a ng-click="newepic=!newepic" class="btn">Add an Epic</a><br>
    <div ng-show="newepic">
        <br><input type="text" ng-model="epic.title" placeholder="Name" style="width:31%"/>
        <input type="text" ng-model="epic.details" placeholder="Epic details" style="width:50%"/>
        <a ng-click="addEpic()" class="btn">Save</a>
    </div>
    <br>
    <ul>
        <li ng-repeat="epic in epics" class="epic"><a ng-click="getStories(epic.id)">+</a> {{epic.title}} ({{epic.num_of_stories}} stories) ({{epic.points}} points) <a ng-click="epic.newstory=!epic.newstory">Add a Story</a>
            <table>
                <tr ng-show="epic.newstory || stories[epic.id]"><th>Sprint</th><th>Name</th><th>Owner</th><th>Points</th><th>Status</th></tr>
                <tr ng-repeat="story in stories[epic.id]" ng-show="stories[epic.id]"><td>{{story.sprint.title}}</td><td>{{story.title}}</td><td>{{story.user.name}}</td><td>{{story.points}}</td><td>{{story.status}}</td></tr>
                <tr ng-show="epic.newstory"><td><select ng-model="story.sprint" ng-options="s.title for s in sprints"><option></option><</select></td><td><input type="text" ng-model="story.title"/></td><td><select ng-model="story.owner" ng-options="u.user.name for u in members"><option></option></select></td><td><select ng-model="story.points" ng-options="p for p in points"><option></option></select></td><td><a ng-click="addStory(epic.id)" class="btn">Save</a></td></tr>
            </table>
        </li>
    </ul>
</div>
