<div class="row">
    <div class="fivesixth">
        <div class="chat-box">
        </div>
    </div>
    <div class="sixth">
        <div class="nav-v">
            <ul>
                <li ng-repeat="member in members"><span id="{{replace(member.user.name)}}">{{member.user.name}}</span></li>
            </ul>
        </div>  
    </div>
</div>
<div class="row">
    <div class="twothird">
        <form ng-submit="sendChat()">
            <input type="text" class="width-100" id="chatMsg">
        </form>
    </div>
    <div class="onesixth">
        <span id="status"></span>
        <button ng-click="sendChat()">Send</button>
        <a ng-click="showChat=false;">Close</a>
    </div>
</div>