<div class="row">
    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a ng-click="gotoPage('/projects/edit')">{{project_name}}</a></li>
            <li><span>Chat</span></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="fivesixth">
        <div class="chat-box">
        </div>
    </div>
    <div class="sixth">
        <div class="nav-v">
            <ul>
                <li><span class="online">Note 2</span></li>
                <li><span class="offline">Note 2</span></li>
                <li><span class="online">Note 2</span></li>
                <li><span class="offline">Note 2</span></li>
                <li><span class="offline">Note 2</span></li>
                <li><span class="online">Note 2</span></li>
                <li><span class="offline">Note 2</span></li>
            </ul>
        </div>  
    </div>
</div>
<div class="row">
    <div class="twothird">
        <form ng-submit="sendChat()">
            <input type="text" class="width-100" id="chatMsg">
        </form>
    </div>
    <div class="onesixth">
        <span id="status"></span>
        <button ng-click="sendChat()">Send</button>
    </div>
</div>