<div class="row breadcrumb-row">
    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Home</a></li>
            <li><span>{{project_name}}</span></li>
            <li><span>Dashboard</span></li>
        </ul>
    </div>
</div>
<div class="row dashboard">
    <div id="tabs">
        <div id="stories" ng-click="context='storiesTab'" ng-class="{selected: context=='storiesTab'}">
            <h2>Stories</h2>
            <h3 class="ribbon orange" ng-show="context=='storiesTab'">Stories</h3>
            <table ng-show="context=='storiesTab'">
                <tr>
                    <th>Title</th>
                    <th>Status <a ng-click="showStatusFilter=!showStatusFilter">&nbsp;</a></th>
                    <th>Owner <a ng-click="showOwnerFilter=!showOwnerFilter">&nbsp;</a></th>
                    <th>Sprint <a ng-click="showSprintFilter=!showSprintFilter">&nbsp;</a></th>
                    <th>Points</th>
                </tr>
                <tr ng-repeat="s in stories">
                    <td>{{s.title}}</td>
                    <td>{{s.status}}</td>
                    <td>{{s.user.name}}</td>
                    <td>{{s.sprint.title}}</td>
                    <td>{{s.points}}</td>
                </tr>
            </table>
        </div>
        
        <div id="bugs" ng-click="context='bugsTab'" ng-class="{selected: context=='bugsTab'}">
            <h2>Bugs</h2>
            <h3 class="ribbon orange" ng-show="context=='bugsTab'">Bugs</h3>
            <table ng-show="context=='bugsTab'">
                <tr>
                    <th>Priority <a ng-click="showPriorityFilter=!showPriorityFilter">&nbsp;</a></th>
                    <th>Title</th>
                    <th>Status <a ng-click="showStatusFilter=!showStatusFilter">&nbsp;</a></th>
                    <th>Owner <a ng-click="showOwnerFilter=!showOwnerFilter">&nbsp;</a></th>
                </tr>
                <tr>
                    <td><select ng-model="bug.priority" ng-options="o for o in config.bugs.priorities"></select></td>
                    <td><input type="text" ng-model="bug.title" class="long"/></td>
                    <td><select ng-model="bug.status" ng-options="o for o in config.bugs.statuses"></select></td>
                    <td><a ng-click="addBug()" class="btn btn-small btn-round">Add</a></td>
                </tr>
                <tr ng-repeat="s in bugs" ng-click="getBug(s.id)">
                    <td>{{s.priority}}</td>
                    <td>{{s.title}}</td>
                    <td>{{s.status}}</td>
                    <td>{{s.user.name}}</td>
                </tr>
            </table>
        </div>

        <div id="todos" ng-click="context='todosTab'" ng-class="{selected: context=='todosTab'}">
            <h2>TO DOs</h2>
            <h3 class="ribbon orange" ng-show="context=='todosTab'">TO DOs</h3>
            <table ng-show="context=='todosTab'">
                <tr>
                    <th>Status <a ng-click="showStatusFilter=!showStatusFilter">&nbsp;</a></th>
                    <th>Title</th>
                    <th>Owner <a ng-click="showOwnerFilter=!showOwnerFilter">&nbsp;</a></th>
                    <th>Due Date</th>
                    <th></th>
                </tr>
                <tr>
                    <td><input type="checkbox" ng-checked="todo.status == 'Done'" ng-click="toggle(todo)" /></td>
                    <td><input type="text" ng-model="todo.title" class="long"/></td>
                    <td><select ng-model="todo.owner" ng-options="o.name for o in owners"></td>
                    <td><input type="date" ng-model="todo.due_date"/></td>
                    <td><a ng-click="addTodo()" class="btn btn-small btn-round">Add</a></td>
                </tr>
                <tr ng-show="todos.nodate.length > 0"><td colspan="5" class="header">No Due Date</td></tr>
                <tr ng-repeat="s in todos.nodate" class="{{getCss(s)}}">
                    <td><input type="checkbox" ng-checked="s.status == 'Done'" ng-click="toggle(s)" /></td>
                    <td ng-click="getTodo(s.id)">{{s.title}}</td>
                    <td ng-click="getTodo(s.id)">{{s.user.name}}</td>
                    <td ng-click="getTodo(s.id)">{{s.due_date | date}}</td>
                    <td></td>
                </tr>
                <tr ng-show="todos.past.length > 0"><td colspan="5" class="header">Past</td></tr>
                <tr ng-repeat="s in todos.past" class="{{getCss(s)}}">
                    <td><input type="checkbox" ng-checked="s.status == 'Done'" ng-click="toggle(s)" /></td>
                    <td ng-click="getTodo(s.id)">{{s.title}}</td>
                    <td ng-click="getTodo(s.id)">{{s.user.name}}</td>
                    <td ng-click="getTodo(s.id)">{{s.due_date | date}}</td>
                    <td></td>
                </tr>
                <tr ng-show="todos.today.length > 0"><td colspan="5" class="header">Today</td></tr>
                <tr ng-repeat="s in todos.today" class="{{getCss(s)}}">
                    <td><input type="checkbox" ng-checked="s.status == 'Done'" ng-click="toggle(s)" /></td>
                    <td ng-click="getTodo(s.id)">{{s.title}}</td>
                    <td ng-click="getTodo(s.id)">{{s.user.name}}</td>
                    <td ng-click="getTodo(s.id)">{{s.due_date | date}}</td>
                    <td></td>
                </tr>
                <tr ng-show="todos.week.length > 0"><td colspan="5" class="header">This week</td></tr>
                <tr ng-repeat="s in todos.week" class="{{getCss(s)}}">
                    <td><input type="checkbox" ng-checked="s.status == 'Done'" ng-click="toggle(s)" /></td>
                    <td ng-click="getTodo(s.id)">{{s.title}}</td>
                    <td ng-click="getTodo(s.id)">{{s.user.name}}</td>
                    <td ng-click="getTodo(s.id)">{{s.due_date | date}}</td>
                    <td></td>
                </tr>
                <tr ng-show="todos.later.length > 0"><td colspan="5" class="header">Later</td></tr>
                <tr ng-repeat="s in todos.later" class="{{getCss(s)}}">
                    <td><input type="checkbox" ng-checked="s.status == 'Done'" ng-click="toggle(s)" /></td>
                    <td ng-click="getTodo(s.id)">{{s.title}}</td>
                    <td ng-click="getTodo(s.id)">{{s.user.name}}</td>
                    <td ng-click="getTodo(s.id)">{{s.due_date | date}}</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div ng-show="showStatusFilter" class="story-filter">
    <div class="arrow"></div>
    <div class="close" ng-click="showStatusFilter=false;"></div>
    <ul>
        <li ng-repeat="s in config[context].statuses"><input type="checkbox" value="{{s}}" ng-click="statusFilter(s)" ng-checked="status.indexOf(s) != -1"/><label>{{s}}</label></li>
    </ul>
</div>

<div ng-show="showOwnerFilter" class="story-filter">
    <div class="arrow"></div>
    <div class="close" ng-click="showOwnerFilter=false;"></div>
    <ul>
        <li ng-repeat="s in owners"><input type="checkbox" value="{{s.id}}" ng-click="ownerFilter(s.id)" ng-checked="owner.indexOf(s.id) != -1"/><label>{{s.name}}</label></li>
    </ul>
</div>

<div ng-show="showSprintFilter" class="story-filter">
    <div class="arrow"></div>
    <div class="close" ng-click="showSprintFilter=false;"></div>
    <ul>
        <li ng-repeat="s in sprints"><input type="checkbox" value="{{s.id}}" ng-click="sprintFilter(s.id)" ng-checked="sprint.indexOf(s.id) != -1"/><label>{{s.title}}</label></li>
    </ul>
</div>
<div ng-show="showPriorityFilter" class="story-filter">
    <div class="arrow"></div>
    <div class="close" ng-click="showPriorityFilter=false;"></div>
    <ul>
        <li ng-repeat="s in config[context].priorities"><input type="checkbox" value="{{s}}" ng-click="priorityFilter(s)" ng-checked="priority.indexOf(s) != -1"/><label>{{s}}</label></li>
    </ul>
</div>
<div class="chat-overlay" ng-show="showStatusFilter || showOwnerFilter || showSprintFilter || showPriorityFilter"></div>
