<div class="row">
    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a ng-click="gotoPage('/projects/edit')">{{project_name}}</a></li>
            <li><span>Dashboard</span></li>
        </ul>
    </div>
</div>
<div class="row dashboard">

    <table>
        <tr>
            <th>Title</th>
            <th>Status <a ng-click="showStatusFilter=!showStatusFilter">&nbsp;</a></th>
            <th>Owner <a ng-click="showOwnerFilter=!showOwnerFilter">&nbsp;</a></th>
            <th>Sprint <a ng-click="showSprintFilter=!showSprintFilter">&nbsp;</a></th>
            <th>Points</th>
        </tr>
        <tr ng-repeat="s in stories">
            <td>{{s.title}}</td>
            <td>{{s.status}}</td>
            <td>{{s.user.name}}</td>
            <td>{{s.sprint.title}}</td>
            <td>{{s.points}}</td>
        </tr>
    </table>
    
</div>

<div ng-show="showStatusFilter" class="story-filter">
    <div class="close" ng-click="showStatusFilter=false;"></div>
    <ul>
        <li ng-repeat="s in statuses"><input type="checkbox" value="{{s}}" ng-click="statusFilter(s)" ng-checked="status.indexOf(s) != -1"/><label>{{s}}</label></li>
    </ul>
</div>

<div ng-show="showOwnerFilter" class="story-filter">
    <div class="close" ng-click="showOwnerFilter=false;"></div>
    <ul>
        <li ng-repeat="s in owners"><input type="checkbox" value="{{s.id}}" ng-click="ownerFilter(s.id)" ng-checked="owner.indexOf(s.id) != -1"/><label>{{s.name}}</label></li>
    </ul>
</div>

<div ng-show="showSprintFilter" class="story-filter">
    <div class="close" ng-click="showSprintFilter=false;"></div>
    <ul>
        <li ng-repeat="s in sprints"><input type="checkbox" value="{{s.id}}" ng-click="sprintFilter(s.id)" ng-checked="sprint.indexOf(s.id) != -1"/><label>{{s.title}}</label></li>
    </ul>
</div>
<div class="chat-overlay" ng-show="showStatusFilter || showOwnerFilter || showSprintFilter"></div>
