<div class="hero-unit">
  <h1>Welcome to Beacon</h1>
    <div class="row">
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr ng-repeat="project in projects" ng-click="select(project.id)">
                <td>{{project.name}}</td>
                <td>{{project.description}}</td>
            </tr>
        </table>
    </div>
</div>
