<div class="row">
    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a ng-click="gotoPage('/dashboard')">{{project_name}}</a></li>
            <li><span>Card Wall</span></li>
        </ul>
    </div>
</div>
<div class="row">
    <select ng-model="sprint" ng-options="o.title for o in sprints" style="margin: 0 1em;"></select>
</div>
<div class="row">
        <div class="card-wall" style="width: {{lanes.length * 21}}%;">
            <div class="lane" ng-repeat="lane in lanes" id="lane_{{lane.id}}" drag-drop data-status="{{lane.status}}" data-max-stories="{{lane.max_stories}}">
                <div class="heading">{{lane.title}}</div>
                <div class="lane_summmary">{{lane.max_stories}}</div>
                <div class="story" draggable="true" drag-drop data-id="{{story.id}}" id="story_{{story.id}}" ng-repeat="story in stories | filter: { status: lane.status }">
                    <div class="left">
                        <div class="title"> <a ng-click="openStory(story.id)" >{{story.title}}</a></div>
                        <div class="text">{{story.details}}</div>
                    </div>
                    <div class="right">
                        <div class="points">{{story.points}}</div>
                        <div class="assigned" ng-show="story.user">{{story.user.name}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="newStory">
            <div class="close" ng-click="closePopup()"></div>
        <form method="POST" class="forms columnar" ng-submit="saveStory()">
            <fieldset>
                <ul>
                    <li><input type="text" ng-model="story.title" class="width-100" placeholder="Story name"/></li>
                    <li>
                        <select ng-model="story.user" ng-options="u.user.name for u in members">
                        </select>
                        <div class="right">
                            <label>Points</label>
                            <div class="storypoints">
                                <input ng-model="story.points" type="radio" value="1"/><label ng-class="{'selected': story.points == 1}" ng-click="story.points=1;">1</label>
                                <input ng-model="story.points" type="radio" value="2"/><label ng-class="{'selected': story.points == 2}" ng-click="story.points=2;" >2</label>
                                <input ng-model="story.points" type="radio" value="3"/><label ng-class="{'selected': story.points == 3}" ng-click="story.points=3;" >3</label>
                                <input ng-model="story.points" type="radio" value="5"/><label ng-class="{'selected': story.points == 5}" ng-click="story.points=5;" >5</label>
                                <input ng-model="story.points" type="radio" value="8"/><label ng-class="{'selected': story.points == 8}" ng-click="story.points=8;" >8</label>
                                <input ng-model="story.points" type="radio" value="13"/><label ng-class="{'selected': story.points == 13}" ng-click="story.points=13;" >13</label>
                                <input ng-model="story.points" type="radio" value="21"/><label ng-class="{'selected': story.points == 21}" ng-click="story.points=21;" >21</label>
                                <input ng-model="story.points" type="radio" value="34"/><label ng-class="{'selected': story.points == 34}" ng-click="story.points=34;" >34</label>
                            </div>
                        </div>
                    </li>
                    <li><textarea ng-model="story.details" class="width-100" placeholder="Story Details"></textarea></li>
                    <li><input type="submit" /><button ng-click="closePopup()" >Close</button></li>
                </ul>
            </fieldset>
        </form>
    </div>
    <div id="fade"></div>
</div>