body {
    background-color: #E3E7EB;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#page { width: 90%; padding: 2em; margin: 24px auto; border: 2px #EEE solid; height: 800px; box-shadow: 5px 5px 5px #CCC; background: #FFF; overflow: auto;}

#page .nav-project-name { color: #aaa; font-size: 0.9em; float: right;margin-top: -1em; height: 2em;}

#page form input::-webkit-outer-spin-button,
#page form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.edit-project form input { width: 30%; } 
.edit-project table th { font-weight: bold; background-color: #eee;}
.edit-project table { border: 1px #eee solid; font-size: 0.9em; width: 100%;}
.edit-project table td, .edit-project table th { border: 1px #eee solid;}

textarea { min-height: 100px;}
select { width: 30%; font-size: 2em;}
.left { float: left; }
.right { float: right; }

/***** Card Wall ****/
.add_link { background-color: #369; padding: 3px 10px; color: #FFF; border-radius: 5px; float: right;}

.story { width: 18em; padding: 0.7em; margin: 0.5em 2px; background-color: #FFD; border: 2px #EEA solid; min-height: 5em; box-shadow: 5px 5px 5px #EEE; float: left; cursor: move; color: #aaa;}

.story .title a { color: #666; text-decoration: none; font-size: 1.2em;}
.story .right { text-align: right;}

.story .points { color: #FC0; width: 2em; font-size: 1.5em; margin: -0.5em -0.5em 0.5em 0; float: right; padding: 2px 5px; }

#newStory { display: none; width: 60%; background-color: #eee; position: absolute; top: 25%; left: 15%; padding: 10px; z-index: 100;}
#newStory .close { background: url(../images/close.png) no-repeat; float: right; height: 70px; width: 70px; margin: -50px;}

#newStory .right { width: 50%; }
#newStory input[type="text"], #newStory textarea { display: none;}
.storypoints label { width: auto !important; background: #FFD; padding: 5px 4px; font-size: 0.8em;}
.storypoints label.selected { background: #AA0 !important; }
.storypoints input[type="radio"] { display: none;}
.textFieldDiv, .textAreaDiv {padding: 0 5px; background-color: #fff; border-bottom: #CCC 1px solid;}
.textAreaDiv {min-height: 10em; }

#fade { display: none; position: absolute; left: 0%; top: 0%; background-color: black; -moz-opacity: 0.7; opacity: .70; 
    filter: alpha(opacity=70); width: 100%; height: 100%; z-index: 90; }

.lane { width: 20%; border-right: 3px #EEE solid; padding: 10px; float: left; height: 50em; overflow: auto;}
.lane .heading { background: #FFF; border-bottom: 3px #8C8 solid; font-size: 1.3em; text-transform: capitalize; padding: 3px; }

.notes input:focus { outline: none; }
.notes input {border: 0px; box-shadow: 0 0; border-bottom: 1px solid #ccc; margin-bottom: 1em;}
.richtext-auto-save {float: right; margin: 1em; height: 1em; color: #888; font-size: 0.8em;}
.richtext { border: #eee solid 1px; min-height: 40em; padding: 1em; }
.richtext table { border: #ccc solid 1px; }
.richtext table td { border: #ccc solid 1px; min-width: 4em; }

.richtextbuttons { margin-bottom: 0.3em; min-height: 1.5em; background-color: #F3F3F3; padding: 0.5em;}
.richtextbuttons ul { list-style: none; padding: 0px; margin: 0px;}
.richtextbuttons ul li { float: left; cursor: hand; cursor: pointer; }

.menu ul li { cursor: hand; cursor: pointer; }

.richtextbuttons ul li select { width: 40px;}
.richtextbuttons button { width: auto !important; height: auto !important; background: #AAA; border: #888 1px solid; border-radius: 5px; font-size: 0.8em; }

.richtextbuttons .richbtn { padding: 0.2em; }
.richtextbuttons .seperator { border-right: 1px solid #ccc;}
.richtextarea {display: none;}

.richtext-dropzone { display: none; padding: 2em; position: absolute; z-index: 10; background-color: #f0f0f0; }
.richtext-dropzone-inner { border: 2px dashed #888; min-height: 3em; min-width: 40em; padding: 6em;}

.notes-list { background-color: #fff; padding: 0.5em; border: #eee 1px solid; min-height: 48em; min-width: 15em; background-color: #f5f5f5; }
.notes-list a { color: #666 !important;}

.drawer { float: left; text-align: left; width: 100%;}
.drawer ul { list-style: none; color: #AAA; float: right; }
.drawer ul li { padding: 0; margin: 0; }
.drawer a { text-decoration: none; }

.chat-box { border: #CCC solid 1px; height: 50em; width: 95%;padding: 0 2em; color: #444; overflow: auto; font-size: 0.9em; }

.chat-box .chat-row { border-bottom: #eee solid 1px; padding: 5px 0; }

.chat-box span { color: #888; float: right; font-size: 0.8em;}

.nav-v span.online { color: #329532; }
.nav-v span.offline { color: #a43739; }

.login-form {margin: 10em; padding: 2em; border: #eee solid 1px; background-color: #E3E7EB; -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #FFF, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #FFF, 0 7px 0 rgba(0, 0, 0, .2); -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, .1), 3px 3px 0 rgba(255, 255, 255, 1), 4px 4px 0 rgba(0, 0, 0, .1), 6px 6px 0 rgba(255, 255, 255, 1), 7px 7px 0 rgba(0, 0, 0, .1); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #FFF, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #FFF, 0 7px 0 rgba(0, 0, 0, .2); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.login-form-inner { margin: 1em; border: #AAA 1px dashed; padding: 3em; }
input { width: 60%; height: 3em !important; }
input[type="submit"], button { width: 10em !important; border: 0px; background-color: #FFB94B; height: 4em; color: #FFF; }

.login-form input[type="text"], .login-form input[type="password"] { padding: 0 2em; background: #F1F1F1 url(../images/sprite.png) no-repeat; }
.login-form input#password { background-position: 5px -52px !important; }
.login-form input#username { background-position: 5px -2px !important; }

.left-icon { height: 5em; }

.comments, .attachments { list-style: none; margin-top: 2em;}
.comments button { float: right;}
.comments textarea { display: block; width: 80%; height: 10em; }
.comments li, .attachments li { padding: 1em; margin-bottom: 5px; font-size: 0.9em; background-color: #FDCD49;border-radius: 10px;}
.comments li span { color: #888; }
.notes-box {float: right; width: 95%;}
.comments-box {float: left; width: 3em; height: 3em; display: block; position: absolute; z-index: 3; padding: 0 0.25em 0 0; background: url(../images/comments.png) #fff no-repeat;}
.comments-box .comments { display: none; }
.comments-box:hover {float: left; width: 45%; height: 50em; display: block; border: 1px solid #eee;padding: 0 1em 0 0;position: absolute; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear;-ms-transition: all 0.2s linear; transition: all 0.2s linear;}
.comments-box:hover .comments { display: block; }

.attachments-box {float: left; width: 3em; height: 3em; display: block; position: absolute; z-index: 2; padding: 0 0.25em 0 0; background: url(../images/attachments.png) #fff no-repeat;}
.attachments-box .attachments { display: none; }
.attachments-box:hover {float: left; width: 45%; height: 50em; display: block; border: 1px solid #eee;padding: 0 1em 0 0;position: absolute; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear;-ms-transition: all 0.2s linear; transition: all 0.2s linear;}
.attachments-box:hover .attachments { display: block; }

.projects-home { background-color: #EFEFEB; padding: 1em; height: 95%; }
.project_tile { background-color: #fff; height: 15em; width: 15em; border: #DDD 1px solid; padding: 1em; border-bottom: #88BBDE 5px solid; float: left; color: #88BBDE; cursor: pointer;}
.project_tile h1 { font-size: 1.4em; }
.project_tile h1 a { font-size: inherit; color: inherit; text-decoration: none; }
ul.search-results { list-style: none; z-index: 5; border: 1px solid #aaa; background-color: #eee; padding: 1em; width: 20em; font-size: 0.9em; margin-top: 0.5em; margin-left: 0;}
