
@font-face {
    font-family: SourceSansProRegular;
    src: url(SourceSansPro-Regular.ttf);
}

body {
    -webkit-user-select: text;
    background-color: #E3E7EB;
    font: 15px "SourceSansProRegular", Helvetica, Arial, sans-serif;
}

input[type="date"], input[type="number"] {
    position:relative;z-index:2;font-family:'Source Sans Pro','PT Sans',Arial,"Helvetica Neue",Helvetica,Tahoma,sans-serif;
    height:23px;
    font-size: 0.95em;
    border:1px solid #ccc;margin:0;padding:1px 2px;background-color:white;color:#333;font-size:.95em;line-height:1;border-radius:1px;
    box-shadow:0 1px 2px rgba(0,0,0,0.1) inset;-webkit-transition:border ease .5s;-moz-transition:border ease .5s;-ms-transition:border ease .5s;-o-transition:border ease .5s;
    transition:border ease .5s
}

.notification-info, .notification-info:hover { color: #3A87AD; background-color: #D9EDF7; border-color: #BCE8F1; font-size: 100%; }
.notification-chat, .notification-chat:hover { color: #468847; background-color: #DFF0D8; border-color: #D6E9C6; font-size: 100%; }

#page { width: 90%; padding: 2em; margin: 24px auto; border: 2px #EEE solid; height: 800px; box-shadow: 5px 5px 5px #CCC; background: #FFF; overflow: auto;}

#page .nav-project-name { color: #ccc; padding: 0.25em 2em; width: 15em; font-size: 0.9em; float: right; margin-top: -1em; height: 2em;}

#page input::-webkit-outer-spin-button,
#page input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.edit-project form input { width: 30%; } 
.edit-project table th, .backlog table th { font-weight: bold; background-color: #eee;}
.edit-project table, .backlog table { border: 1px #eee solid; font-size: 0.9em; width: 100%; background-color: #fff;}
.edit-project table td, .edit-project table th, .backlog table td, .backlog table th { border: 1px #eee solid;}
.edit-project .help-text { font-size: 0.9em; color: #aaa; min-width: 33%; width: 33%; float: left;}
.edit-project .inner-row { margin: 0.25em 0 0 0;}

textarea { min-height: 100px;}
select { width: 30%; font-size: 2em;}
.left { float: left; }
.right { float: right; }

/***** Card Wall ****/
.add_link { background-color: #369; padding: 3px 10px; color: #FFF; border-radius: 5px; float: right;}

.story { width: 16em; padding: 0.7em; margin: 0.5em 2px; background-color: #FFD; border: 2px #EEA solid; min-height: 5em; box-shadow: 5px 5px 5px #EEE; float: left; cursor: move; color: #aaa;}

.story .title a { color: #666; text-decoration: none; font-size: 1.2em;}
.story .right { text-align: right;}

.story .points { color: #FC0; width: 2em; font-size: 1.5em; margin: -0.5em -0.5em 0.5em 0; float: right; padding: 2px 5px; }

#fade { display: none; position: absolute; left: 0%; top: 0%; background-color: black; -moz-opacity: 0.7; opacity: .70; 
    filter: alpha(opacity=70); width: 100%; height: 100%; z-index: 85; }

.card-wall { width: 100%; overflow: auto;}
.lane { width: 18em; border-right: 3px #EEE solid; padding: 10px; float: left; height: 50em; overflow: auto;}
.lane .heading { background: #FFF; border-bottom: 3px #8C8 solid; font-size: 1.3em; text-transform: capitalize; padding: 3px; }

.notes input:focus { outline: none; }
.notes input {border: 0px; box-shadow: 0 0; border-bottom: 1px solid #ccc; margin-bottom: 1em;}
.richtext-auto-save {float: right; margin: 1em; height: 1em; color: #888; font-size: 0.8em;}
.richtext { border: #eee solid 1px; min-height: 40em; padding: 1em; }
.richtext table { border: #ccc solid 1px; }
.richtext table td { border: #ccc solid 1px; min-width: 4em; }

.richtextbuttons { margin-bottom: 0.3em; min-height: 1.5em; background-color: #F3F3F3; padding: 0.5em;}
.richtextbuttons ul { list-style: none; padding: 0px; margin: 0px;}
.richtextbuttons ul li { float: left; cursor: hand; cursor: pointer; }

.menu ul li { cursor: hand; cursor: pointer; }

.richtextbuttons ul li select { width: 40px;}
.richtextbuttons button { width: auto !important; height: auto !important; background: #AAA; border: #888 1px solid; border-radius: 5px; font-size: 0.8em; }

.richtextbuttons .richbtn { padding: 0.2em; }
.richtextbuttons .seperator { border-right: 1px solid #ccc;}
.richtextarea {display: none;}

.richtext-dropzone { display: none; padding: 2em; position: absolute; z-index: 10; background-color: #f0f0f0; }
.richtext-dropzone-inner { border: 2px dashed #888; min-height: 3em; min-width: 40em; padding: 6em;}

.notes-list { background-color: #fff; padding: 0.5em; border: #eee 1px solid; min-height: 48em; min-width: 15em; background-color: #f5f5f5; }
.notes-list a { color: #666 !important;}

.drawer { float: left; text-align: left; width: 100%;}
.drawer ul { list-style: none; color: #AAA; float: right; }
.drawer ul li { padding: 0; margin: 0; }
.drawer a { text-decoration: none; }

.chat-box { border: #CCC solid 1px; height: 45em; width: 95%;padding: 0 2em; color: #444; overflow: auto; font-size: 0.9em; }

.chat-box .chat-row { border-bottom: #eee solid 1px; padding: 5px 0; }

.chat-box span { color: #888; float: right; font-size: 0.8em;}

.nav-v span.online { color: #329532; }
.nav-v span.offline { color: #a43739; }

.login-form {margin: 10em; padding: 2em; border: #eee solid 1px; background-color: #E3E7EB; -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #FFF, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #FFF, 0 7px 0 rgba(0, 0, 0, .2); -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, .1), 3px 3px 0 rgba(255, 255, 255, 1), 4px 4px 0 rgba(0, 0, 0, .1), 6px 6px 0 rgba(255, 255, 255, 1), 7px 7px 0 rgba(0, 0, 0, .1); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #FFF, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #FFF, 0 7px 0 rgba(0, 0, 0, .2); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.login-form-inner { margin: 1em; border: #AAA 1px dashed; padding: 3em; }
input { width: 60%; height: 3em !important; }
input[type="submit"], button { width: 10em !important; border: 0px; background-color: #FFB94B; height: 4em; color: #FFF; }

.login-form input[type="text"], .login-form input[type="password"] { padding: 0 2em; background: #F1F1F1 url(../images/sprite.png) no-repeat; }
.login-form input#password { background-position: 5px -52px !important; }
.login-form input#username { background-position: 5px -2px !important; }

.left-icon { height: 5em; }

.comments, .attachments { list-style: none; margin-top: 2em;}
.comments button { float: right;}
.comments textarea { display: block; width: 80%; height: 10em; }
.comments li, .attachments li { padding: 1em; margin-bottom: 5px; font-size: 0.9em; background-color: #EEE;border-radius: 10px;}
.comments li span { color: #888; }
.notes-box {float: right; width: 95%;}
.comments-box {float: left; width: 0.5em; height: 50em; display: block; position: absolute; z-index: 3; padding: 0 0.25em 0 0; background-color: #ccc;}
.comments-box .comments, .comments-box .attachments { display: none; }
.comments-box:hover {float: left; width: 45%; height: 50em; background-color: #fff; display: block; border: 1px solid #eee;padding: 0 1em 0 0;position: absolute; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear;-ms-transition: all 0.2s linear; transition: all 0.2s linear;}
.comments-box:hover .comments, .comments-box:hover .attachments { display: block; z-index: 4;}
.comments-box h3 { display: none; padding: 0.25em 1em; background-color: #EEE;}
.comments-box h3 a { background: url(../images/key_plus.png) no-repeat 0 0; background-size: 1em; padding: 0 2em; color: #666;}
.comments-box:hover h3 { display: block; }

.projects-home { background-color: #EFEFEB; padding: 1em; height: 95%; }
.project_tile { background-color: #fff; height: 15em; width: 15em; border: #DDD 1px solid; padding: 1em; border-bottom: #88BBDE 5px solid; float: left; color: #88BBDE; cursor: pointer;}
.project_tile h1 { font-size: 1.4em; }
.project_tile h1 a { font-size: inherit; color: inherit; text-decoration: none; }
ul.search-results { list-style: none; z-index: 5; border: 1px solid #aaa; background-color: #eee; padding: 1em; width: 20em; font-size: 0.9em; margin-top: 0.5em; margin-left: 0;}

.backlog { overflow: auto; }
.backlog input, .dashboard input { height: 23px !important; width: auto !important;}
.backlog input.long, .dashboard input.long {width: 90% !important;}
.backlog select.long, .dashboard select.long {width: 90% !important;}

.backlog select, .dashboard select { height: 23px !important; width: auto !important;}
.backlog .epic { background-color: #CCC; padding: 10px 0 0 0; clear: both; min-height: 1.5em;}
.backlog .epic-header { background-color: #aaa; padding: 10px 0 0 0; clear: both; min-height: 1.5em; font-size: 1em; font-weight: bold;}
.backlog ul { list-style: none; float: left; width: 70%;}
.backlog ul .cell1 { float: left; width: 5%; padding: 0 0.5em; border-right: #333 1px dashed; }
.backlog ul .cell2 { float: left; width: 40%; padding: 0 0.5em; border-right: #333 1px dashed; }
.backlog ul .cell3 { float: left; width: 15%; padding: 0 0.5em; border-right: #333 1px dashed; }
.backlog ul .cell4 { float: left; width: 15%; padding: 0 0.5em; border-right: #333 1px dashed; }
.backlog ul .cell5 { float: left; width: 15%; padding: 0 0.5em;}

chat { position: absolute; width: 80%; height: 80%; top: 5%; left: 5%; margin: 0 1em; z-index: 100;}
chat .row { background-color: #FFF !important; padding: 1em 0.5em; margin: 0;}
.chat-overlay { position: absolute; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.5); height: 100%; width: 100%;z-index: 99;}
history { position: absolute; width: 20%; height: 80%; top: 10%; left: 70%; margin: 0 1em; z-index: 100; background-color: #E3E7EB; border: 3px #ddd dashed; padding: 1em 0; overflow: auto;}
history ul { list-style: none; color: #333; margin: 0 0.5em;}
history ul li { border-bottom: 1px dashed #ccc; padding: 2px 0;}
history ul li.notifications-section { border-bottom: 0px dashed #ccc; }
history .notifications-section span { color: #666; text-decoration: underline;}


#newStory { display: none; width: 60%; background-color: #eee; position: absolute; top: 25%; left: 15%; padding: 10px; z-index: 90;}
.story-pane { width: 25%; background-color: #eee; padding: 10px; float: right; }
.story-pane ul { width: 100%; }
.story-pane ul label { width: auto !important; margin-right: 10px !important;}
.close { float: right; height: 15px; width: 15px; background: url(../images/icon_close.gif) no-repeat; margin: 0 0 0 5px; cursor: pointer;}

#newStory .right, .story-pane .right { width: 50%; }
#newStory input[type=submit], #newStory button , .story-pane input[type=submit], .story-pane button { height: 3em !important; margin-right: 0.5em;}
.storypoints { height: 35px; }
.storypoints label { width: auto !important; background: #FFD; padding: 5px 4px; font-size: 0.8em;}
.storypoints label.selected { background: #AA0 !important; }
.storypoints input[type="radio"] { display: none;}
.textFieldDiv, .textAreaDiv {padding: 0 5px; background-color: #fff; border-bottom: #CCC 1px solid;}
.textAreaDiv {min-height: 10em; }

#burndown_chart { width: 48%; float: left;}
#trend_chart { width: 48%; float: right;}
#velocity_chart { width: 48%; float: left;}
#burndown_chart svg, #trend_chart svg, #velocity_chart svg { height: auto !important;}

.signup { position: absolute; width: 50%; height: 60%; top: 20%; left: 25%; margin: 0 1em; z-index: 100; background-color: #eee; padding: 2em; }

.breadcrumb-row { margin: 0;}
.dashboard table { width: 80%;margin-top: 4em;}
.dashboard table td, .dashboard table th { border: 1px solid #eee !important; padding: 0.25em 0.5em;}
.dashboard table td.header { background: #eee; color: #888; font-style: italic;}
.dashboard table th { background-color: #eee !important;}
.dashboard th a { background: url(../images/filter.png) no-repeat; display: block; cursor: pointer; float: right; width: 1em;}
.dashboard div#tabs {position: absolute; right:10em; height: 100%; width: auto;}
.dashboard #tabs div { width: 2em; height: 45em; background-color: #eee; border: 1px dotted #aaa; float:left;}
.dashboard #tabs div h2 { display: block; position: absolute; top: 10em; font-size: 1.2em; width: 5em; height: 4em;-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }
.dashboard #tabs div.selected h2 { display: none; }
.dashboard #tabs div.selected { width: 80em; height: 43em; overflow: auto; background-color: #fff; padding: 1em; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear;-ms-transition: all 0.2s linear; transition: all 0.2s linear;}

.story-filter { width: 20em; background: #0FA1E0; font-size: 1.2em; color: #FFF; padding: 1em; position: absolute; z-index: 100; top: 20%; left: 10%;}
.story-filter .arrow { content: ''; display: block; width: 0;height: 0;position: absolute;left: 2em; top: -0.5em; border-left: 0.5em solid transparent; border-right: 0.5em solid transparent; border-bottom: 0.5em solid #0fa1e0;margin-left: -0.5em;}
.story-filter .close { float:right; margin:-30px -30px 0 0; cursor:pointer; color: #fff; border: 1px solid #0FA1E0; border-radius: 30px; background: #0FA1E0; font-size: 31px; font-weight: bold; display: inline-block; line-height: 0px; padding: 11px 3px; height: auto; width: auto; }
.story-filter .close:before { content: "×"; }

.story-filter ul { list-style: none; }
.story-filter ul li { clear: both; border-bottom: 1px dotted #6FC7EC; line-height: 100%; height: 1.5em; padding: 1em;}
.story-filter ul li label { float: left; padding: 1em;}
.story-filter ul li input { float: left; width: auto !important;}

.dashboard tr.done { text-decoration: line-through; color: #aaa; color: #468847; background-color: #f4f4f4;}
.dashboard tr.overdue { color: #B94A48; background-color: #F2DEDE; }
.ribbon { float: left; margin: 0 -0.5em; color: #FFF; padding: 6px 11px 6px 18px; font-weight: bold; z-index: 91; }
.ribbon.orange { background-color: #F0473B; }

.imagePreview { position: absolute; top: 10%; left: 10%; z-index: 120; }
.imagePreview .close { float:right; margin:-30px -30px 0 0; cursor:pointer; color: #fff; border: 1px solid #0FA1E0; border-radius: 30px; background: #0FA1E0; font-size: 31px; font-weight: bold; display: inline-block; line-height: 0px; padding: 11px 3px; height: auto; width: auto; }
.imagePreview .close:before { content: "×"; }

.img-annotation { width:10em; min-height:1em; background-color:#fff; color:#0FA1E0; border: 6px #0FA1E0 solid; border-radius: 10px; padding: 0.5em; font-size: 0.8em;}
.img-annotation .close { float:right; margin:-20px -20px 0 0; cursor:pointer; color: #fff; border: 1px solid #0FA1E0; border-radius: 15px; background: #0FA1E0; font-size: 21px; font-weight: bold; display: inline-block; line-height: 0px; padding: 10px 3px; height: auto; width: auto; }
.img-annotation .close:before { content: "×"; }
.img-annotation.done {border: 6px #70B90D solid; color: #70B90D; display: none;}

bugs, todos { position: absolute; top: 10%; left: 10%; width: 50em; height: 30em; z-index: 100; background-color: #F3F3F3;border: #CCC 3px solid;padding: 1em; color: #333;}
bugs label, todos label, bugs a, todos a { float: right; }
.quick-form input, .quick-form textarea, .quick-form select { width: 90%; }
