<div class="close" ng-click="showTodo=false;"></div>
<div class="quick-form">
    <div class="row"><div class="quarter"><label>Title</label></div><div class="threequarter"><input type="text" ng-model="todo.title"/></div></div>
    <div class="row"><div class="quarter"><label>Owner</label></div><div class="threequarter"><select ng-model="todo.owner" ng-options="o.name for o in config.todos.owners"></select></div></div>
    <div class="row"><div class="quarter"><label>Due Date</label></div><div class="threequarter"><input type="date" ng-model="todo.due_date"/></div></div>
    <div class="row"><div class="quarter"><label>Details</label></div><div class="threequarter"><textarea ng-model="todo.details"></textarea></div></div>
    <div class="row"><div class="quarter"><a ng-click="addTodo()" class="btn btn-small btn-round">Add</a></div></div>
</div>
