<div class="row">
    <div class="breadcrumbs">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a ng-click="gotoPage('/dashboard')">{{project_name}}</a></li>
            <li><span>To Dos</span></li>
        </ul>
    </div>
</div>
<div class="row dashboard">

    <table>
        <tr>
            <th>Status <a ng-click="showStatusFilter=!showStatusFilter">&nbsp;</a></th>
            <th>Title</th>
            <th>Owner <a ng-click="showOwnerFilter=!showOwnerFilter">&nbsp;</a></th>
            <th>Due Date</th>
            <th></th>
        </tr>
        <tr>
            <td><input type="checkbox" ng-checked="todo.status == 'Done'" ng-click="toggle(todo)" /></td>
            <td><input type="text" ng-model="todo.title" class="long"/></td>
            <td><select ng-model="todo.owner" ng-options="o.name for o in owners"></td>
            <td><input type="date" ng-model="todo.due_date"/></td>
            <td><a ng-click="add()" class="btn btn-small btn-round">Add</a></td>
        </tr>
        <tr ng-repeat="s in todos">
            <td><input type="checkbox" ng-checked="s.status == 'Done'" ng-click="toggle(s)" /></td>
            <td ng-click="load(s.id)">{{s.title}}</td>
            <td ng-click="load(s.id)">{{s.user.name}}</td>
            <td ng-click="load(s.id)">{{s.due_date}}</td>
            <td></td>
        </tr>
    </table>
    
</div>

<div ng-show="showStatusFilter" class="story-filter">
    <a ng-click="showStatusFilter=!showStatusFilter">Close</a>
    <ul>
        <li ng-repeat="s in statuses"><input type="checkbox" value="{{s}}" ng-click="statusFilter(s)" ng-checked="status.indexOf(s) != -1"/><label>{{s}}</label></li>
    </ul>
</div>

<div ng-show="showOwnerFilter" class="story-filter">
    <a ng-click="showOwnerFilter=!showOwnerFilter">Close</a>
    <ul>
        <li ng-repeat="s in owners"><input type="checkbox" value="{{s.id}}" ng-click="ownerFilter(s.id)" ng-checked="owner.indexOf(s.id) != -1"/><label>{{s.name}}</label></li>
    </ul>
</div>

<div class="chat-overlay" ng-show="showStatusFilter || showOwnerFilter"></div>
